:root {
  --transparentbg: rgba(209, 195, 208, 0.3);
  --transparentbg2: rgba(209, 195, 208, 0.5);
  --white: #fff;
  --black: #000;
  --grey: #a0a0a0;
  --dusty: #7c5c75;
}

body {
    margin: 0;
    cursor: url('/images/cursor2.png'), auto;
    width: 100%;
}

@font-face {
  font-family: 'CocogooseBold';
  src: url('/fonts/CocogooseBold.ttf');
}

@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/JosefinSans.ttf');
}

@font-face {
    font-family: 'Aesthetic';
    src: url('/fonts/belgant-aesthetic.otf');
}